.Header{
    position: relative;
    display: flex;
    margin: auto;
    height: 100%;
    min-height: 00px;
}

.header_min{
    position: relative;
    display: flex;
    max-width:1300px;
    margin: auto;
    margin-bottom: 100px;
    height: 100%;
    min-height: 500px;
}

.blt{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0% 15% 0 15%;
}

.city{
    position: absolute;
    margin: auto;
    min-height: 600px;
    height: 80%;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.blocto{
    width: 100%;
    justify-self: center;
    align-self: center;
    z-index: -1;
    animation-name: bloctot;
    animation-duration: 1s;

}


@media screen and (max-width:890px) {

    .blt{
        padding: 0 10% 0 10%;
    }
    .city{
        min-height: 400px;
    }

}

@media screen and (max-width:720px) {

    .blocto{
        transform: translateY(0);
    }
    .header_min{
        min-height: 400px;
        margin: 0;
    }
    .city{
        min-height: 400px; 
        top: 15%;
    }
}
@media screen and (max-width:580px) {
    .city{
        min-height: 300px; 
        top: 15%;
    }
}
@media screen and (max-width:400px) {
    .city{
        height: 100px; 
        top: 15%;
    }
}